@import "tailwindcss";

/* Leaflet Map Styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-control-zoom {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}

.leaflet-popup-content {
  margin: 12px 16px;
}