/* Load local fonts first (place files in src/assets/fonts/) */
@import './assets/fonts/uber-move.css';

@tailwind base;
@tailwind utilities;

/* minimal fallback */
body {
	margin: 0;
	color: #111827;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}